a.svg{
    display: inline-block;
    position: relative; 
    z-index: 1;
}

.icon {
    width: 50px;
    margin-right: auto;
}

.cont {
    display: flex;
    align-items: center;
    width: 100%;
}

.title {
    margin-right: auto;
}