<div class="col-8 m-auto">

    <div class="cont">
        <div class="row icon">
            <a class="svg" routerLink="">
                <object>
                    <svg viewBox="0 0 1024 1024" fill="#ffffff" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M669.6 849.6c8.8 8 22.4 7.2 30.4-1.6s7.2-22.4-1.6-30.4l-309.6-280c-8-7.2-8-17.6 0-24.8l309.6-270.4c8.8-8 9.6-21.6 2.4-30.4-8-8.8-21.6-9.6-30.4-2.4L360.8 480.8c-27.2 24-28 64-0.8 88.8l309.6 280z"
                                fill=""></path>
                        </g>
                    </svg>
                </object>
            </a>        
        </div>

        <h1 class="text-center my-5 title">Registrar contato</h1>

    </div>

    <form [formGroup]="formGroupContact">

        <div class="row">
            <div class="mb-3 col-11">
                <label for="inputName" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputName" formControlName="name">
            </div>
            <div class="col-1">
                <label for="inputAge" class="form-label">Idade</label>
                <input type="number" class="form-control" id="inputAge" formControlName="age">
            </div>
        </div>

        <div class="mb-3">
            <label for="inputGender" class="form-label">Sexo</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="flexRadioMale" [value]="1" formControlName="gender">
                <label class="form-check-label" for="flexRadioMale">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="flexRadioFemale" [value]="2" formControlName="gender">
                <label class="form-check-label" for="flexRadioFemale">
                    Feminino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="flexRadioOther" [value]="3" formControlName="gender">
                <label class="form-check-label" for="flexRadioOther">
                    Outro
                </label>
            </div>
        </div>

        <div class="row">
            <div class="mb-3">
                <label for="inputTelephone" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="inputTelephone" formControlName="telephone">
            </div>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="checkboxFavorite" formControlName="favorite">
            <label class="form-check-label" for="checkboxFavorite">Favorito</label>
        </div>

        <button type="submit" class="btn btn-primary" (click)="save()" *ngIf="!isEditing" [disabled]="!formGroupContact.valid">Salvar</button>
        <button type="submit" class="btn btn-primary" (click)="update()" *ngIf="isEditing" [disabled]="!formGroupContact.valid">Atualizar</button>

    </form>

</div>